<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/tailwind.css">
      
        <title>Test Website | <%= title %></title>
      </head>

<body>

<div class="md:mx-auto md:container px-4">
    <div class="pb-32 pt-16">
        <div class="mx-auto">
            <div>
  <div class="content__middle">
  <h1 style="font-size:40px; font-weight:bolder">Curated Categories</h1>
  <div role="tabpanel" class="tab-pane" id="related-artists">
  <div class="media-cards">
  <a href="https://forms.gle/gZg4XMoYgWXJG2pk9" target="_blank">
  </a><div class="media-card"><a href="https://forms.gle/88T8gscZCNMwiKXc6" target="_blank">
      <div class="media-card__image" style="background-image: 'url(https://image.freepik.com/free-vector/print-house-workers-using-computers-operating-big-commercial-printers-printing-banners-posters-vector-illustration-ad-agency-printing-industry-advertising-design-concept_74855-10140.jpg)'">
        <i class="ion-ios-play" />
      </div>
    </a><a class="media-card__footer" herf="https://forms.gle/88T8gscZCNMwiKXc6">Printing Services</a>
  </div>
  <a href="https://forms.gle/xmowfCAQFbxstxTs9" target="_blank">
  </a><div class="media-card"><a href="https://forms.gle/xmowfCAQFbxstxTs9" target="_blank">
      <div class="media-card__image" style="background-image: 'url(https://image.freepik.com/free-vector/fight-virus-concept_52683-36505.jpg)'">
        <i class="ion-ios-play" />
      </div>
    </a><a class="media-card__footer">Hygiene Products</a>
  </div>
  <a href="https://forms.gle/SPhnZsSTtDCf3Nx29" target="_blank">
  </a><div class="media-card"><a href="https://forms.gle/SPhnZsSTtDCf3Nx29" target="_blank">
      <div class="media-card__image" style="background-image: 'url(https://image.freepik.com/free-vector/flat-hand-drawn-sustainable-fashion-illustration_23-2148830049.jpg)'">
        <i class="ion-ios-play" />
      </div>
    </a><a class="media-card__footer">Linen Products</a>
  </div>
  <a href="hhttps://forms.gle/yHAtoSMzDVkfc5jn6" target="_blank">
  </a><div class="media-card"><a href="https://forms.gle/yHAtoSMzDVkfc5jn6" target="_blank">
      <div class="media-card__image" style="background-image: 'url(https://image.freepik.com/free-vector/waiter-preparing-cafe-opening-restaurant-worker-cleaning-table-after-customers-leaving-flat-vector-illustration-catering-service-job_74855-13281.jpg)'">
        <i class="ion-ios-play" />
      </div>
    </a><a class="media-card__footer">Restaurant related Products</a>
  </div>
  </div>
  </div>
  </div>
  <div>
  </div>
  </div>
            </div>
        </div>
    </div>

</body>
</html>