<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
<<<<<<< HEAD
  <link rel="stylesheet" href="/tailwind.css">
  <script src="/script.js"></script>

=======
    <link rel="stylesheet" href="/tailwind.css">
>>>>>>> d061148d8e62ddee0d73564b547d656fdf013a29

  <title>Test Website | <%= title %></title>
</head>
