@media screen and (min-width:760px){
#view{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:auto;
        align-items: center;
        justify-items: center;
        text-align: center;
        width: 100%;
        grid-gap:20px;
}
}
@media screen and (max-width:760px){
    #view{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:auto;
            align-items: center;
            justify-items: center;
            text-align: center;
            width: 100%;
            grid-gap:20px;
    }
    }
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }